:root {
  --white: #ffffff;
  --pale-grey: #d7d7d7;
  --light-grey: #f2f2f2;
  --mid-grey: #d9d9d9;
  --dark-grey: #797979;

  --light-green: #bff199;
  --light-pink: #f7c8c9;
  --light-yellow: #fffddb;
  --light-blue: #d0fffe;

  --yellow: #feda30;
  --primary-blue: #4fbad7;
  --background-color: var(--light-grey);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color);
  font-family: "Inter", sans-serif;
}

main {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 16px;
}
